{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Welcome to JFinace<h2>
    <h3>Below are the founders of this package<h3>
    	<IMG STYLE="border: none;" SRC="static/team.jpg" ALT="Home">

    <h2>Please click stock info to do some computation<h2>
  </div>
{% endblock %}