<!DOCTYPE html>
<html>
  <head>
    <title>JFinance</title>    
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
  </head>
  <body>
   <header>
  <div class="container">
    <h1 class="logo">JFinance</h1>
    <strong><nav>
      <ul class="menu">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('stockInfo') }}">Stock Info</a></li>
        <li><a href="{{ url_for('about') }}">Da Team</a></li>
      </ul>
    </nav></strong>
  </div>
</header>
     
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>