{% extends "layout.html" %}
 
{% block content %}
 <div class="jumbo">
    <h2>Welcome to the J finance library<h2>
    <h3>Please enter the ticker symbol for the stock you would like to trade<h3>
  </div>
 
  {% if success %}
    <p>WOOOOOOOO POST ALL THE STOCK STUFF HERE!</p>

     <head>
      <title>PDFObject example</title>
      <script type="text/javascript" src="/static/pdfobject.js"></script>
      <script type="text/javascript">
        window.onload = function (){
          var success = new PDFObject({ url: "/static/plot.pdf" }).embed();
        };
      </script>
    </head>
 
  {% else %}
 
    {% for message in form.ticker.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
 
    <form action="{{ url_for('stockInfo') }}" method=post>
      {{ form }}
 
      {{ form.ticker.label }}
      {{ form.ticker }}
 
      {{ form.submit }}
    </form>
 
  {% endif %}
{% endblock %}